{%- liquid
  assign products = collection.products
  assign sort_products = products | sort: 'price'
  assign tot = sort_products | map: 'price' | sum
-%}
{% capture show_title %}
                <div style="margin-left:30px">
                     {%for product in sort_products %}
                    <h2>{{ product.title }}</h2>
                    <p style="
                        {%if forloop.first%}
                        color: orange;
                        {%elsif forloop.last%}
                        color: blue;
                        {%else%}
                        color: black;
                        {%endif%}">
                        Price --> {{ product.price | money }}
                        <br>
                        {{ product.description | default: 'Default description' }}
                    </p>
                    <br>
                    {%endfor%}
                    
                    <p><strong>PRICES TOTAL: {{ tot | money }}</strong></p>
                </div>
             {% endcapture %}

{{ show_title }}

<script>
  console.log('{{ tot }}');
</script>
<script src="{{ '../assets/console.js' | asset_url }}" defer></script>
